@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Outfit:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Italiana&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nosifer&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  background-image: url('../src/assests/moon.webp');
  background-size: cover;
  background-attachment: fixed;
  background-color: transparent;
}

#root {
  background-color: transparent;
}

.img-container{
  background-image: url('https://firebasestorage.googleapis.com/v0/b/taba-5c32a.appspot.com/o/media%2Fcarousel3.webp?alt=media&token=fc83739c-653b-4442-ac42-f8926bb387ca');
  background-position: center;
  background: linear-gradient(90deg, rgba(52,50,73,1) 0%, rgba(5,5,51,1) 55%, rgba(10,30,34,1) 100%);
}

.first-div {
  background-image: url('../src/assests/2.png');
  background-position: center;
}

.mirror-image {
  transform: scaleX(-1);
}

p{
  font-family: 'inter', sans-serif;
}
